

<h1>Übersicht</h1>
<ul>
  <li><%= link_to "Automarken", brands_url %></li>
  <li><%= link_to "Modelle", brand_models_url %></li>
  <li><%= link_to "Verkäufer", sellers_url %></li>
  <li><%= link_to "Fahrzeuge", cars_url %></li>
</ul>