
<% if flash[ :error ] %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div><strong><%= flash[ :error ] %></strong></div>
  <div><%= flash[ :error_message ] %></div>
  <div><%= flash[ :error_details ] %></div>
  <div><%= flash[ :error_stacktrace ] %></div>
</div>
<% end %>

<div class="page-header">
  <h1>Übersicht</h1>
</div>


