<h1>CPS<small>mobile</small></h1>
<%= link_to 'Ladeliste', {controller: 'cargo_list', action: 'index'}, class: 'btn btn-lg btn-info btn-block', role: 'button' %>
<%= link_to 'Artikel lagern', {controller: 'store', action: 'index'}, class: 'btn btn-lg btn-info btn-block', role: 'button' %>
<%= link_to 'Artikel suchen', {controller: 'store', action: 'search'}, class: 'btn btn-lg btn-info btn-block', role: 'button' %>
