// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message {
  text-align: center;
  border: 1px solid green;
  margin-bottom: 5px;
}

#interactive.viewport {
  border: 1px solid black;
  width: 100%;
  //height: 300px;
  background-color: black;
  margin-bottom: 5px;
}

#interactive.viewport canvas, video {
  width: 100%;
  height: 300px;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin: auto;
  //margin-left: -640px;
}