// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cancel-button {
  margin-top: 10px;
  float: right;
}

#message {
  text-align: center;
  border: 1px solid green;
  margin-bottom: 5px;
}

#interactive.viewport {
  border: 1px solid black;
  width: 100%;
  height: 400px;
  background-color: black;
  margin-bottom: 5px;
}

#interactive canvas {
  width: 100%;
  height: 400px;
}

#interactive video  {
  width: 100%;
  height: 400px;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin: auto;
  //margin-left: -640px;
}