<h1>Automarken</h1>

<%= link_to image_tag('plus_16.png'), new_brand_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= link_to image_tag('pencil_16.png'), edit_brand_path(brand) %></td>
        <td><%= link_to image_tag('trash_16.png'), brand, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


