<div id="scanner-page">
    <h1>Artikel
      <small>lagern</small>
      <%= link_to 'Abbrechen', {controller: 'mobile', action: 'overview'}, class: 'cancel-button btn btn-info', role: 'button', id: 'stopp-button' %>
    </h1>

    <div id="store-info">
      Lagerort: <span id="store-name">-</span>
    </div>

    <div id="article-id">
      Artikelnummer: <span id="article-name">-</span>
    </div>

    <div id="message">-</div>
    <audio id="scan-sound" src="/assets/scan.mp3" type="audio/mpeg"></audio>
    <audio id="scan-end-sound" src="/assets/scanEnd.mp3" type="audio/mpeg"></audio>

    <div class="form-group" id="partId-group">
      <label for="partId">Scan</label>
      <input type="text" class="form-control" id="partId" placeholder="id">
    </div>

    <div>
      <%= button_tag 'Undo', type: 'button', onclick: 'undoClickHandler()', class: 'btn btn-danger', role: 'button' %>
    </div>

    <div id="log"></div>
</div>

<script type="text/javascript">

    var nodePartIdInput = $('#partId');

    window.onerror = function (msg, url, lineNo, columnNo, error) {
        var string = msg.toLowerCase();
        var substring = "script error";
        if (string.indexOf(substring) > -1){
            alert('Script Error: See Browser Console for Detail');
        } else {
            var message = [
                'Message: ' + msg,
                'URL: ' + url,
                'Line: ' + lineNo,
                'Column: ' + columnNo,
                'Error object: ' + JSON.stringify(error)
            ].join(' - ');
            log(message);
            alert(message);
        }
        return false;
    };

    var audioNode = document.getElementById("scan-sound");
    var audioScanEndNode = document.getElementById('scan-end-sound');
    var storeNameNode = document.getElementById('store-name');
    var articleId = document.getElementById('article-name');
    var messageNode = document.getElementById('message');

    var storageId;
    var partId;
    var previousStorageId;
    var previousPartId;


    function log(value) {
        var errorNode = document.getElementById('log');
        var textNode = document.createTextNode(value);
        errorNode.appendChild(textNode);
    }

    function handleError(error) {
        log('Error:' + error);
    }

    function handleStoreDone(result) {
        messageNode.innerHTML = result.carPartName + ' wird gelagert in ' + result.storageName;
        previousPartId = partId;
        previousStorageId = result.previousStorageId;
        if (!result.errorOccured) {
            playScanEnd();
        }
    }

    function handleResult(codeAsText) {
        //S#nnn or P#nnn
        var type = codeAsText[0];
        var id = codeAsText.substr(2);
        if (type === 'S') {
            storageId = id;
            partId = undefined;
            getStorageName(storageId);
            playScanned();
        } else if (type === 'P') {
            partId = id;
            articleId.textContent = partId;
            playScanned();
        }

        if (storageId && partId) {
            storePart(storageId, partId, handleStoreDone);
        }
    }

    function playScanned() {
        audioNode.play();
    }

    function playScanEnd() {
        audioScanEndNode.play();
    }

    function getStorageName(id) {
        var requestForGetStorage = '/get_storage';
        var data = {id: id};
        $.get(requestForGetStorage, data).
                done(function (result) {
                    storeNameNode.textContent = result.storageName;
                })
                .fail(handleError);
    }

    function storePart(storageId, partId, callback) {
        var requestForStorePart = '/store_part';
        var data = {storageId: storageId, partId: partId};
        $.post(requestForStorePart, data)
                .done(callback)
                .fail(handleError);
    }

    function undoClickHandler() {
        if (previousStorageId !== undefined && previousPartId !== undefined) {
            storePart(previousStorageId, previousPartId, handleStoreDone);
        }
    }

    nodePartIdInput.keydown(function (e) {
        if (e.keyCode == 9 || e.keyCode == 13) {
            var id = nodePartIdInput.val();
            handleResult(id);
            nodePartIdInput.val('');
        }
    });

</script>





